#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl

# working directory for web app
/globo_web_app/*
/base_web_app/.terraform
/base_web_app/.terraform.lock.hcl
mynotes.txt
base_web_app/tfplan
base_web_app/my-ec2key
base_web_app/my-ec2key.pub
